__pycache__/
src/__pycache__/
*.egg-info/
.coverage
coverage.*
.duct/
.idea
.tox/
build/
dist/
venvs/

# Local working files
.local.*

# AI
.serena/

# Produced by versioningit
src/con_duct/_version.py
