---
name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: '0 6 * * *'

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15-intel  # intel
          - macos-latest  # arm64
          # - windows-latest
          - ubuntu-latest
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
          - 'pypy-3.10'
        toxenv: [py]
        include:
          - python-version: '3.10'
            toxenv: lint
            os: ubuntu-latest
          - python-version: '3.10'
            toxenv: typing
            os: ubuntu-latest
          - python-version: '3.10'
            toxenv: minimal
            os: ubuntu-latest
          - python-version: '3.10'
            toxenv: oldestdeps
            os: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          # Fetch all commits so that versioningit will return something
          # compatible with semantic-version
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install --upgrade --upgrade-strategy=eager tox

      - if: matrix.os == 'ubuntu-latest'
        name: Install libjpeg on Ubuntu
        run: sudo apt-get install -y libjpeg-dev

      - name: Install uv
        if: matrix.toxenv == 'oldestdeps'
        run: python -m pip install uv

      - name: Run tests with coverage
        if: matrix.toxenv == 'py'
        run: tox -e py -- -vv --cov-report=xml

      - name: Run generic tests
        if: matrix.toxenv != 'py'
        run: tox -e ${{ matrix.toxenv }}

      - name: Upload coverage to Codecov
        if: matrix.toxenv == 'py'
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
          name: ${{ matrix.python-version }}

# vim:set et sts=2:
